{{!-- 
    Partial: Head - Main Layout
 --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La Japan Zone - La Japan Zone est une association qui à pour but de promouvoir la culture japonaise au mans.">

    <!-- ICONS -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
        integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- STYLES -->
    <link rel="stylesheet" href="../../assets/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">

    <title>Document</title>
</head>

<body>