/**************************************/
/***************MAIN NEWS**************/
/**************************************/

.news-box
    height: 550px
    overflow: hidden
    box-shadow: 0 0 20px 1px #b3a7a7

.news-box-list
    float: left
    width: 50%
    height: 100%

.news-box-list-item
    padding: 10px

.btn-news
    display: inline-block
    text-decoration: none
    border-radius: 30px
    transition: background-color 0.5s, color 0.7s, border 0.8s
    color: $black
    background-color: $gray-800


.news-icons
    font-size: 35px    
    transition: all 0.5s