/**************************************/
/************MAIN RIGHT MENU***********/
/**************************************/

.right-menu-social
    display: block
    background: $cramoisi

.right-menu-social-title
    background-color: $blue