/**************************************/
/************MAIN RIGHT MENU***********/
/**************************************/

.right-menu-social
    display: block
    box-shadow: 0px 5px 0px $gray-800
    margin-bottom: 20px

.right-menu-social-title
    position: relative
    top: 8px
    background-color: $blue
    box-shadow: 0px 5px 0px $gray-800

.right-menu-social-list
    display: flex
    text-align: center
    justify-content: space-around
    background: $gray-700
    border: 2px solid $gray-800


.right-menu-social-list > li
    width: 33%
    height: 50px
    padding-top: 10px

.right-menu-social-list > li > a
    color: $white

.right-menu-social-list-facebook:hover
    background-color: #3b5998

.right-menu-social-list-twitter:hover
    background-color: #1da1f2

.right-menu-social-list-youtube:hover
    background-color: #c4302b


.right-menu-facebook
    width: 100%

.right-menu-facebook-list
    text-align: center
    background: $gray-700
    border: 2px solid $gray-800
