/**************************************/
/***************THEME MOD**************/
/**************************************/

/***************DARK MOD************** */
.darkMod 
  background-color: #171e26
  color: white
  transition: all 0.4s

.darkMod body 
  background: none
  color: white

.darkMod #news 
  background-color: rgba(32, 40, 51, 0.8)
  transition: all 1s

/***************JAPAN MOD************** */
.japan nav 
  background-color: #d904049c !important
  transition: all 1s

.japan .nav-item
  color: white !important
  transition: all 1s

.japan .navbar-brand 
  color: white !important
  transition: all 1s

/*******************************************************/

.content
    display: flex
    flex-direction: column
    margin: auto
    text-align: center
    width: 70%
    transform: translateY(5%)

.circle
    position: relative
    border-radius: 100%
    width: 8rem
    height: 8rem
    background: linear-gradient(40deg, #FF0080,#FF8C00 70%)
    margin: auto

.crescent
    position: absolute
    border-radius: 100%
    right: 0
    width: 6rem
    height: 6rem
    background: white
    transform: scale(0)
    transform-origin: top right
    transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1)

.darkMod #setting
    background-color: #26242E
    color: white

.darkMod .crescent
    transform: scale(1)
    background: #26242E

.darkMod .circle
    background: linear-gradient(40deg, #8983F7, #A3DAFB 70%)
