<!-- Modal Contact -->
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Contactez-Nous</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Name & Email Input -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-form">
                                <input class="input-form" type="text" placeholder="Nom">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-form">
                                <input class="input-form" type="email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <!-- Subject Input -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <input class="input-form" type="text" placeholder="sujet">
                            </div>
                        </div>
                    </div>
                    <!-- Message Input -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <textarea class="input-form" name="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Button Input -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-secondary">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal Footer Social -->
            <div class="modal-footer justify-content-center">
                <p>Suivez-nous : </p>
                <ul class="social-footer">
                    <li><a class="social-footer-block social-facebook"
                            href="https://www.facebook.com/evenementjapanzone" target="_blank"><span
                                class="fab fa-facebook-square"></span></a></li>
                    <li><a class="social-footer-block social-twitter" href="https://twitter.com/Japanzone72"
                            target="_blank"><span class="fab fa-twitter"></span></a></li>
                    <li><a class="social-footer-block social-youtube"
                            href="https://www.youtube.com/channel/UCXAKfJnDfiaNPykSMriiiDQ" target="_blank"><span
                                class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>