{{!--
Partial: Modal Login / Register
--}}

<!-- Modal Login / Register -->
<div class="modal fade" id="newPassword{{ data.pseudo }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouveau Password</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {{#if modalNewPassword}}
                    {{> flash/flash-modal data=modalNewPassword }}
                {{/if}}
                <form method="post" action="/profil/newPassword/{{ data.pseudo }}?_method=PUT">
                    <!-- Old Password Input -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <input class="form-control" name="oldPassword" type="password"
                                    placeholder="Ancien mot de passe">
                            </div>
                        </div>
                    </div>

                    <!-- New Password Input -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <input class="form-control" name="password" type="password"
                                    placeholder="Nouveau mot de passe">
                            </div>
                        </div>
                    </div>

                    <!-- New Password Confirmation -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <input class="form-control" name="cPassword" type="password"
                                    placeholder="Confirmer votre nouveau mot de passe">
                            </div>
                        </div>
                    </div>

                    <!-- Button Input-->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-outline-dark ms-2 me-2 mb-2">Modifier</button>
                        </div>
                    </div>
                </form>
            </div>
                
            <!-- Modal Footer Social -->
            <div class="modal-footer justify-content-center">
                <p>Suivez-nous : </p>
                <ul class="social-footer">
                    <li><a class="social-footer-block social-facebook"
                             href="https://www.facebook.com/evenementjapanzone" target="_blank"><span
                                class="fab fa-facebook-square"></span></a></li>
                    <li><a class="social-footer-block social-twitter" href="https://twitter.com/Japanzone72"
                            target="_blank"><span class="fab fa-twitter"></span></a></li>
                    <li><a class="social-footer-block social-youtube"
                            href="https://www.youtube.com/channel/UCXAKfJnDfiaNPykSMriiiDQ" target="_blank"><span
                                class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>