{{!-- 
    Partial: Modal Disconnected
 --}}

<!-- Modal Disconnect -->
<div class="modal fade" id="disconnect" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Nav Tabs -->
                <ul class="nav nav-tabs" id="#myTab" role="tablist">
                    <li class="nav-item" role="dis">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#dis" aria-controls="dis"
                            aria-selected="true" type="button">Déconnexion</button>
                    </li>
                </ul>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Tab Content Delete -->
            <div class="tab-content" id="myTabContent">
                <!-- Tab Panel Create User -->
                <div class="tab-pane show active" id="dis" role="tabpanel" aria-labelledby="disconnected-tab">
                    <div class="modal-body text-center">
                        <!-- Delete Button -->
                        <p>Voulez-vous vraiment vous déconnecter ?</p>
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post" action="/auth?_method=DELETE">
                                    <button class="btn btn-secondary">Oui</button>
                                </form>
                                <button class="btn btn-secondary">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Footer Social -->
                <div class="modal-footer justify-content-center">
                    <p>Suivez-nous : </p>
                    <ul class="social-footer">
                        <li><a class="social-footer-block social-facebook" href=""><span
                                    class="fab fa-facebook-square"></span></a></li>
                        <li><a class="social-footer-block social-twitter" href=""><span
                                    class="fab fa-twitter"></span></a></li>
                        <li><a class="social-footer-block social-youtube" href=""><span
                                    class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>