{{!--
Partial: Modal Lost Password
--}}

<!-- Modal Lost Password -->
<div class="modal fade" id="forgot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Mot de passe oublier ?</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/forgot">
                    {{#if modalForgot}}
                        <div class="border border-3 border m-3">
                            {{#each modalForgot}}
                                <p class="pt-3 pb-3 m-0 text-center" style="font-size: 1rem; font-weight: 500;">{{ msg }}</p>
                            {{/each}}
                        </div>
                    {{/if}}
                    <!-- Email input :-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <input class="form-control" name="email" type="email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <!-- Button Input -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-outline-dark ms-2 me-2 mb-2">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal Footer Social -->
            <div class="modal-footer justify-content-center">
                <p>Suivez-nous : </p>
                <ul class="social-footer">
                    <li><a class="social-footer-block social-facebook"
                                href="https://www.facebook.com/evenementjapanzone" target="_blank"><span
                                    class="fab fa-facebook-square"></span></a></li>
                    <li><a class="social-footer-block social-twitter" href="https://twitter.com/Japanzone72"
                                target="_blank"><span class="fab fa-twitter"></span></a></li>
                    <li><a class="social-footer-block social-youtube"
                                href="https://www.youtube.com/channel/UCXAKfJnDfiaNPykSMriiiDQ" target="_blank"><span
                                    class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>