<section>
    <div class="container">
        <!-- Reset Password -->
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <!-- Title Contact -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-form">
                            <h2>Réinitialisation de mot de passe</h2>
                        </div>
                    </div>
                </div>
                <!-- Contact Form -->
                <form method="post" action="/contact">
                    <!-- New Password Input -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <input class="input-form" name="password" type="password" placeholder="Nouveau mot de passe">
                            </div>
                        </div>
                    </div>
                    <!-- Confirme Password Input -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <input class="input-form" name="cPassword" type="password" placeholder="Confirmation de mot de passe">
                            </div>
                        </div>
                    </div>
                    <!-- Button Contact -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form text-center">
                                <button class="btn btn-full">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>