<section>
    <div class="container">
        <!-- Reset Password -->
        <div class="row align-items-center justify-content-center mt-5 mb-5">
            <div class="col-md-6 mt-5 mb-5">
                <!-- Title Contact -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-form">
                            <h2>Réinitialisation de mot de passe</h2>
                        </div>
                    </div>
                </div>
                <!-- Contact Form -->
                <form action="/resetPassword/{{ token.token }}?_method=PUT" method="post" >
                    <!-- New Password Input -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <input class="form-control" name="password" type="password" placeholder="Nouveau mot de passe">
                            </div>
                        </div>
                    </div>
                    <!-- Confirme Password Input -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form">
                                <input class="form-control" name="cPassword" type="password" placeholder="Confirmation de mot de passe">
                            </div>
                        </div>
                    </div>
                    <!-- Button Contact -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form text-center">
                                <button class="btn btn-outline-dark ms-2 me-2 mb-2">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>