    <!-- Main Gallery & Right Menu -->
    <section class="container my-5">
        <div class="row">
            <div class="col-md-8">
                <!-- Title Gallery -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>Galeries Photos</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Picture 1 -->
                    <div class="col-md-4">
                        <div class="img-gallery" style="background-image: url(assets/images/gallery/picture1.png);">
                            <div class="title-img-gallery">
                                <h3>Image 1</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Picture 2 -->
                    <div class="col-md-8">
                        <div class="img-gallery" style="background-image: url(assets/images/gallery/picture2.png);">
                            <div class="title-img-gallery">
                                <h3>Image 2</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Picture 3 -->
                    <div class="col-md-5">
                        <div class="img-gallery" style="background-image: url(assets/images/gallery/picture3.png);">
                            <div class="title-img-gallery">
                                <h3>Image 3</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Picture 4 -->
                    <div class="col-md-3">
                        <div class="img-gallery" style="background-image: url(assets/images/gallery/picture4.png);">
                            <div class="title-img-gallery">
                                <h3>Image 4</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Picture 5 -->
                    <div class="col-md-4">
                        <div class="img-gallery" style="background-image: url(assets/images/gallery/picture5.png);">
                            <div class="title-img-gallery">
                                <h3>Image 5</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main Vidéo -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>Vidéo</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Vidéo 1 -->
                    <div class="col-12 col-lg-6 mb-5">
                        <div class="ratio ratio-16x9">
                            <iframe width="1280" height="720" src="https://www.youtube.com/embed/mBrVtbkZlt8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- Vidéo 2 -->
                    <div class="col-12 col-lg-6 mb-5">
                        <div class="ratio ratio-16x9">
                            <iframe width="1280" height="720" src="https://www.youtube.com/embed/By66V_GhDM8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Menu -->
            <aside class="col-md-4">
                <!-- Right Menu Social -->
                <div class="right-menu m-3">
                    <h4 class="right-menu-title general">Suivez-Nous</h4>
                    <div class="right-menu-body">
                        <a class="right-menu-body-social-facebook" href="https://www.facebook.com/evenementjapanzone"
                            target="_blank"><span class="fab fa-facebook-square"></span></a>
                        <a class="right-menu-body-social-twitter" href="https://twitter.com/Japanzone72"
                            target="_blank"><span class="fab fa-twitter"></span></a>
                        <a class="right-menu-body-social-youtube"
                            href="https://www.youtube.com/channel/UCXAKfJnDfiaNPykSMriiiDQ" target="_blank"><span
                                class="fab fa-youtube"></span></a>
                    </div>
                </div>
                <!-- Right Menu Widget Facebook -->
                <div class="right-menu m-3" id="fb-root">
                    <h4 class="right-menu-title facebook">Facebook</h4>
                    <div class="right-menu-body facebook-bd">
                        <div class="fb-page" data-href="https://www.facebook.com/evenementjapanzone/"
                            data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                            data-show-posts="true"></div>
                    </div>
                </div>
                <!-- Right Menu Widget Twitter -->
                <div class="right-menu m-3">
                    <h4 class="right-menu-title twitter">Twitter</h4>
                    <div class="right-menu-body twitter-bd">
                        <a class="twitter-timeline" data-lang="fr" data-height="380" data-theme="light"
                            href="https://twitter.com/Japanzone72?ref_src=twsrc%5Etfw">Tweets by Japanzone72</a>
                    </div>
                </div>
            </aside>
        </div>
    </section>