{{!-- 
    Partial: Index Main 
 --}}

<!-- Main Gallery & Right Menu -->
<section class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <!-- Title Gallery -->
            <div class="row">
                <div class="col-md-12">
                    <h2>Galeries Photos</h2>
                </div>
            </div>
            <div class="row">
                {{#each gallery }}
                    <!-- Picture -->
                    <div class="col-md-6">
                        <div class="img-gallery" style="background-image: url(assets/images/gallery/picture1.png);"></div>
                    </div>
                {{/each }}    
            </div>
            <!-- Main Vidéo -->
            <div class="row">
                <div class="col-md-12">
                    <h2>Vidéo</h2>
                </div>
            </div>
            <div class="row">
                <!-- Vidéo 1 -->
                <div class="col-12 col-lg-6 mb-5">
                    <div class="ratio ratio-16x9">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/mBrVtbkZlt8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Vidéo 2 -->
                <div class="col-12 col-lg-6 mb-5">
                    <div class="ratio ratio-16x9">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/By66V_GhDM8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        {{> right-menu }}
    </div>
</section>