{{!-- 
    Partial: Header
 --}}

<!-- Carousel -->
<section class="carousel slide carousel-fade header mb-5" data-bs-ride="carousel" id="carouselIndicators">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"
            style="background: no-repeat center/cover url(../../assets/images/header/header1.png);"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"
            style="background: no-repeat center/cover url(../../assets/images/header/header2.png);"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"
            style="background: no-repeat center/cover url(../../assets/images/header/header3.png);"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"
            style="background: no-repeat center/cover url(../../assets/images/header/header4.png);"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="4" aria-label="Slide 5"
            style="background: no-repeat center/cover url(../../assets/images/header/header5.png);"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="5" aria-label="Slide 6"
            style="background: no-repeat center/cover url(../../assets/images/header/header6.png);"></button>
    </div>
    <div class="carousel-inner h-100">
        <div class="carousel-item active h-100">
            <img src="../../assets/images/header/header1.png" class="d-block w-100 h-100" alt="Slide 1">
        </div>
        <div class="carousel-item h-100">
            <img src="../../assets/images/header/header2.png" class="d-block w-100 h-100" alt="Slide 2">
        </div>
        <div class="carousel-item h-100">
            <img src="../../assets/images/header/header3.png" class="d-block w-100 h-100" alt="Slide 3">
        </div>
        <div class="carousel-item h-100">
            <img src="../../assets/images/header/header4.png" class="d-block w-100 h-100" alt="Slide 4">
        </div>
        <div class="carousel-item h-100">
            <img src="../../assets/images/header/header5.png" class="d-block w-100 h-100" alt="Slide 5">
        </div>
        <div class="carousel-item h-100">
            <img src="../../assets/images/header/header6.png" class="d-block w-100 h-100" alt="Slide 6">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
        data-bs-slide="prev"></button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
        data-bs-slide="next"></button>
</section>