<!-- Main News -->
<section class="container shadow-lg my-5">
    <!-- Title Main News -->
    <div class="row">
        <div class="col-md-12">
            <h2>Nos Actualités</h2>
        </div>
    </div>
    <!-- Main News Element -->
    <div class="row align-items-center">
        <!-- List News -->
        <div class="col-md-6">
            <div class="scrollspy-list-news">
                <!-- List News 1 -->
                <div class="row me-0 p-2">
                    <div class="col-6 col-md-5 col-sm-4">
                        <img class="" src="assets/images/news/item1.png" alt="item1">
                    </div>
                    <div class="col-6 col-md-7 col-sm-8">
                        <h3>Titre</h3>
                        <p class="text-truncate">bla bla bla bla bla bla bla </p>
                    </div>
                    <p><span class="fas fa-calendar-day"></span> 12/12/2000</p>
                </div>
                <!-- List News 2 -->
                <div class="row me-0 p-2">
                    <div class="col-6 col-md-5">
                        <img src="assets/images/news/item1.png" alt="item1">
                    </div>
                    <div class="col-6 col-md-7">
                        <h3>Titre</h3>
                        <p class="text-truncate">bla bla bla bla bla bla bla </p>
                    </div>
                    <p><span class="fas fa-calendar-day"></span> 12/12/2000</p>
                </div>
                <!-- List News 3 -->
                <div class="row me-0 p-2">
                    <div class="col-6 col-md-5">
                        <img src="assets/images/news/item1.png" alt="item1">
                    </div>
                    <div class="col-6 col-md-7">
                        <h3>Titre</h3>
                        <p class="text-truncate">bla bla bla bla bla bla bla </p>
                    </div>
                    <p><span class="fas fa-calendar-day"></span> 12/12/2000</p>
                </div>
                <!-- List News 4 -->
                <div class="p-2">
                    <img class="news-box-list-item-img float-start" src="assets/images/news/item1.png" alt="item1">
                    <h3 class="text-truncate">Titre</h3>
                    <p class="text-truncate">bla bla bla bla bla bla bla </p>
                    <p><span class="fas fa-calendar-day"></span> 12/12/2000</p>
                </div>
                <!-- List News 5 -->
                <div class="p-2">
                    <img class="news-box-list-item-img float-start" src="assets/images/news/item1.png" alt="item1">
                    <h3 class="text-truncate">Titre</h3>
                    <p class="text-truncate">bla bla bla bla bla bla bla </p>
                    <p><span class="fas fa-calendar-day"></span> 12/12/2000</p>
                </div>
            </div>
        </div>
        <!-- News View -->
        <div class="col-md-6 p-2">
            <img class="actu-view-img" src="assets/images/news/item1.png" alt="item1">
            <h3 class="text-center mt-2">Item 1</h3>
            <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
            <a href="#" class="btn-news-view">Lire la suite</a>
            <p class="float-end"><span class="fas fa-calendar-day"></span> 12/12/2000</p>
        </div>
    </div>
</section>