

<section class="pt-3 container-fluid bg-light">

    {{! TABS ADMIN BOUTONS }}
    <ul class="nav nav-tabs container pb-3 ps-3" id="adminTab" role="tablist">
        {{!-- GESTION UTILISATEURS --}}
        <li class="nav-item ps-2 pe-2" role="presentation">
            <button class="nav-link border text-white bg-dark active" id="users-tab" data-bs-toggle="tab"
                data-bs-target="#users" type="button" role="tab" aria-controls="users"
                aria-selected="true">Utilisateurs</button>
        </li>
        {{!-- GESTION DES ARTICLES --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link bg-dark border text-white" id="blog-tab" data-bs-toggle="tab"
                data-bs-target="#blog" type="button" role="tab" aria-controls="blog"
                aria-selected="false">Blog</button>
        </li>
        {{!-- GESTION DES IMAGES --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link bg-dark border text-white" id="gallery-tab" data-bs-toggle="tab"
                data-bs-target="#gallery" type="button" role="tab" aria-controls="gallery"
                aria-selected="false">Galerie</button>
        </li>
    </ul>
    {{! CONTENU DES TABS ADMIN }}
    <div class="tab-content container pt-3">

        {{!-- GESTION DES UTILISATEURS --}}
        <div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="users-tab">
            {{> admin/tableUsers }}
        </div>

        {{!-- GESTION DES ARTICLES --}}
        <div class="tab-pane container" id="blog" role="tabpanel" aria-labelledby="messages-tab">
            {{> admin/tableBlog }}
        </div>

        {{!-- GESTION DES IMAGES --}}
        <div class=" tab-pane container" id="gallery" role="tabpanel" aria-labelledby="comments-tab">
            
        </div>
    </div>

</section>


{{#ifstatus query "blog"}}
    <script>
        //var tabEl = document.querySelector('button[data-bs-toggle="#blog"]')
        //tabEl.addEventListener('shown.bs.tab', function (event) {
        //    event.target // newly activated tab
        //    event.relatedTarget // previous active tab
        //})
        const tab = bootstrap.Tab.getOrCreateInstance(document.querySelector('#adminTab button[data-bs-target="#blog"]')).show();
        tab.show();
    </script>
{{/ifstatus}}



<style>
    .nav-tabs > .nav-item > .nav-link:hover {
        background-color: rgb(92, 142, 185) !important;
    }
    .nav-link.active {
        background-color: rgb(92, 142, 185) !important;
    }
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            text-align: center;
            border: 1px solid #ccc;
        }
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
</style>