{{!-- 
    Partial: Panel Admin 
 --}}
 {{!-- <style>
    html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    }
</style> --}}

<section class="pt-3 container-fluid mb-5">
    {{! Admin Tabs }}
    <ul class="nav nav-tabs container pb-3 ps-3" id="adminTab" role="tablist">
        {{!-- User Gestion --}}
        <li class="nav-item ps-2 pe-2" role="presentation">
            <button class="nav-link border text-white bg-dark active" id="users-tab" data-bs-toggle="tab"
                data-bs-target="#users" type="button" role="tab" aria-controls="users"
                aria-selected="true">Utilisateurs</button>
        </li>
        {{!-- Blog Gestion --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link bg-dark border text-white" id="blog-tab" data-bs-toggle="tab"
                data-bs-target="#blog" type="button" role="tab" aria-controls="blog"
                aria-selected="false">Blog</button>
        </li>
        {{!-- Picture Gestion --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link bg-dark border text-white" id="gallery-tab" data-bs-toggle="tab"
                data-bs-target="#gallery" type="button" role="tab" aria-controls="gallery"
                aria-selected="false">Galerie</button>
        </li>
    </ul>
    {{! Admin Tab Content }}
    <div class="tab-content container pt-3">

        {{!-- User Gestion --}}
        <div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <div class="text-end">
                <button class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#add-user"><span
                    class="fas fa-user-plus"></span></button>
            </div>
            {{> admin/tableUsers }}
        </div>

        {{!-- Blog Gestion --}}
        <div class="tab-pane container" id="blog" role="tabpanel" aria-labelledby="messages-tab">
            <div class="text-end">
                <button class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#add-blog"><span
                    class="fas fa-plus-square"></span></button>
            </div>
            {{> admin/tableBlog }}
        </div>

        {{!-- Picture Gestion --}}
        <div class=" tab-pane container" id="gallery" role="tabpanel" aria-labelledby="comments-tab">
            <div class="text-end">
                <button class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#add-gallery"><span
                    class="fas fa-plus-square"></span></button>
            </div>
            {{> admin/tableGallery }}
        </div>
    </div>

</section>
{{> modals/modal-addUser-admin }}
{{> modals/modal-addBlog-admin }}
{{> modals/modal-addGallery-admin }}

<style>
    .darkMod td{
        color:white !important; 
    }

    .darkMod tr:hover{
        color:white ;
        background-color: rgb(61, 61, 61); 
    }

    .darkMod .table-border{
        border: 3px solid white;
    }
    .nav-tabs > .nav-item > .nav-link:hover {
        background-color: rgb(92, 142, 185) !important;
    }
    .nav-link.active {
        background-color: rgb(92, 142, 185) !important;
    }
    @media only screen and (max-width: 770px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            text-align: center;
            border: 1px solid #ccc;
        }
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
</style>