

<section class="pt-8 container-fluid bg-light">
    {{! TABS ADMIN BOUTONS }}
    <ul class="nav nav-tabs container pb-3 ps-3" id="myTab" role="tablist">
        {{!-- GESTION UTILISATEURS --}}
        <li class="nav-item ps-2 pe-2" role="presentation">
            <button class="nav-link border border-primary text-white bg-dark active" id="users-tab" data-bs-toggle="tab"
                data-bs-target="#users" type="button" role="tab" aria-controls="users"
                aria-selected="true">Utilisateurs</button>
        </li>
        {{!-- GESTION DES ARTICLES --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link bg-dark border border-primary text-white" id="blog-tab" data-bs-toggle="tab"
                data-bs-target="#blog" type="button" role="tab" aria-controls="blog"
                aria-selected="false">Blog</button>
        </li>
        {{!-- GESTION DES IMAGES --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link bg-dark border border-primary text-white" id="gallery-tab" data-bs-toggle="tab"
                data-bs-target="#gallery" type="button" role="tab" aria-controls="gallery"
                aria-selected="false">Galerie</button>
        </li>
    </ul>
    {{! CONTENU DES TABS ADMIN }}
    <div class="tab-content container pt-3">

        {{!-- GESTION DES UTILISATEURS --}}
        <div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="users-tab">
            {{> admin/tableUsers }}
        </div>

        {{!-- GESTION DES ARTICLES --}}
        <div class="tab-pane container" id="blog" role="tabpanel" aria-labelledby="messages-tab">
            
        </div>

        {{!-- GESTION DES IMAGES --}}
        <div class=" tab-pane container" id="gallery" role="tabpanel" aria-labelledby="comments-tab">
            
        </div>
    </div>

</section>